<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Carrito</title>

<style>
body{
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1{
    text-align: center;
}

.item{
    background: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.total{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
</style>

</head>
<body>

<h1>🛒 Mi Carrito</h1>

{% for item in items %}
    <div class="item">
        {{ item.producto.nombre }} x{{ item.cantidad }} - ${{ item.producto.precio }}
    </div>
{% empty %}
    <p>El carrito está vacío.</p>
{% endfor %}

<h3 class="total">Total: ${{ total }}</h3>

<!-- BOTÓN FINAL DE PAGO -->
<form method="post" action="{% url 'finalizar_compra' %}">
    {% csrf_token %}
    <button type="submit">Pagar</button>
</form>
</body>
</html>