{% load static %}<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-COMMERCE KIOSCO ESCOLAR</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'tienda/main.css' %}">
</head>

<body>

<div class="wrapper">

    <aside>
        <header>
            <h1 class="logo">Kiosco Escolar</h1>
            
        </header>

        <nav>
            <ul>

                <li>
                    <button class="button-categoria" id="btn-bebidas">
                        <i class="bi bi-cup-straw"></i>
                        Bebidas
                    </button>
                </li>

                <li>
                    <button class="button-categoria"id="btn-snacks">
                        <i class="bi bi-bag"></i>
                        Snacks
                    </button>
                </li>

                <li>
                    <button class="button-categoria"id="btn-golosinas">
                        <i class="bi bi-candy"></i>
                        Golosinas
                    </button>
                </li>

                <li>
                 <a class="button-menu" href="{% url 'carrito' %}" class="btn btn-success">
                   <i class="bi bi-cart"></i>Carrito <span class="numerito">0</span>
                 </a>
                 </li>
                 <li> <a class="button-menu" href="{% url 'logout' %}">
                    <i class="bi bi-box-arrow-right"></i>Cerrar sesión</a>
                </li>
                <li>
                    <a class="button-menu" href="{% url 'admin:index' %}"><button>Administrador</button></a>
                </li>

            </ul>
        </nav>

        <footer>
            <p class="texto-footer">© Kiosco Escolar</p>
        </footer>
    </aside>
{% if messages %}
    {% for message in messages %}
        <div style="background:#22c55e;color:white;padding:10px;border-radius:8px;margin-bottom:10px;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <main>

        

        <h2 class="tipos-bebidas" id="titulo-bebidas">BEBIDAS</h2>

        <div class="contenedor-bebidas" id="bebidas">

            {% for p in bebidas %}
            <div class="producto">
                {% if p.imagen_url %}
                <img class="producto-imagen" src="{{ p.imagen_url }}" alt="{{ p.nombre }}">
                {% endif %}
                <div class="producto-detalles">
                    <h3 class="producto-nombre">{{ p.nombre }}</h3>
                    <p class="card-text text-muted">{{ p.descripcion }}</p>
                    <p class="producto-precio">{{ p.precio }}$</p>
                    <p class="text-secondary small">Stock disponible: {{ p.stock }}</p>
                    <button class="producto-agregar" data-id="{{ p.id }}">Agregar</button>
                </div>
            </div>
            {% empty %}
                <p class="text-center">No hay productos cargados todavía. ¡Andá al admin!</p>
            {% endfor %}
        </div>

        

       <h2 class="tipos-snacks" id="titulo-snacks">SNACKS</h2>

<div class="contenedor-snacks" id="snacks">

    {% for p in snacks %}
            <div class="producto">
                {% if p.imagen_url %}
                <img class="producto-imagen" src="{{ p.imagen_url }}" alt="{{ p.nombre }}">
                {% endif %}
                <div class="producto-detalles">
                    <h3 class="producto-nombre">{{ p.nombre }}</h3>
                    <p class="card-text text-muted">{{ p.descripcion }}</p>
                    <p class="producto-precio">{{ p.precio }}</p>
                    <p class="text-secondary small">Stock disponible: {{ p.stock }}</p>
                    <button class="producto-agregar" data-id="{{ p.id }}">Agregar</button>
                </div>
            </div>
            {% empty %}
                <p class="text-center">No hay productos cargados todavía. ¡Andá al admin!</p>
            {% endfor %}
        </div>

<h2 class="tipos-golosinas" id="titulo-golosinas">GOLOSINAS</h2>

<div class="contenedor-golosinas" id="golosinas">

    {% for p in golosinas %}
            <div class="producto">
                {% if p.imagen_url %}
                <img class="producto-imagen" src="{{ p.imagen_url }}" alt="{{ p.nombre }}">
                {% endif %}
                <div class="producto-detalles">
                    <h3 class="producto-nombre">{{ p.nombre }}</h3>
                    <p class="card-text text-muted">{{ p.descripcion }}</p>
                    <p class="producto-precio">{{ p.precio }}</p>
                    <p class="text-secondary small">Stock disponible: {{ p.stock }}</p>
                    <button class="producto-agregar" data-id="{{ p.id }}">Agregar</button>
                </div>
            </div>
            {% empty %}
                <p class="text-center">No hay productos cargados todavía. ¡Andá al admin!</p>
            {% endfor %}
        </div>

</div>

<script>
document.addEventListener("DOMContentLoaded", () => {

    const numerito = document.querySelector(".numerito");

    // =========================
    // CARRO CANTIDAD
    // =========================
    function actualizarNumerito() {
        fetch("/carrito/cantidad/")
            .then(res => res.json())
            .then(data => {
                numerito.textContent = data.cantidad;
            });
    }

    // =========================
    // OCULTAR TODO
    // =========================
    function ocultarTodo() {
        document.getElementById("bebidas").style.display = "none";
        document.getElementById("snacks").style.display = "none";
        document.getElementById("golosinas").style.display = "none";

        document.getElementById("titulo-bebidas").style.display = "none";
        document.getElementById("titulo-snacks").style.display = "none";
        document.getElementById("titulo-golosinas").style.display = "none";
    }

    // =========================
    // MOSTRAR SECCIÓN
    // =========================
    function mostrar(id, tituloId) {
        ocultarTodo();

        const contenedor = document.getElementById(id);
        const titulo = document.getElementById(tituloId);

        contenedor.style.display = "flex";
        titulo.style.display = "block";
    }

    // =========================
    // BOTONES CATEGORÍA
    // =========================
    document.getElementById("btn-bebidas").addEventListener("click", () => {
        mostrar("bebidas", "titulo-bebidas");
    });

    document.getElementById("btn-snacks").addEventListener("click", () => {
        mostrar("snacks", "titulo-snacks");
    });

    document.getElementById("btn-golosinas").addEventListener("click", () => {
        mostrar("golosinas", "titulo-golosinas");
    });

    // =========================
    // AGREGAR PRODUCTOS
    // =========================
    document.querySelectorAll(".producto-agregar").forEach(boton => {

        boton.addEventListener("click", () => {

            const idProducto = boton.dataset.id;

           fetch("/agregar_carrito/", {
    method: "POST",
    headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken")
    },
    body: JSON.stringify({ id: idProducto })
})
.then(res => res.json())
.then(data => {
    actualizarNumerito();
});

        });

    });

    // =========================
    // INICIO
    // =========================
    actualizarNumerito();
    mostrar("bebidas", "titulo-bebidas");

});
function getCookie(name) {
    let cookieValue = null;

    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();

            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }

    return cookieValue;
}
</script>

</body>
</html>
