:root{
    --azul:#2563eb;
    --amarillo:#facc15;
    --gris:#f8fafc;
    --oscuro:#1e293b;
}

 /*body{
    background-color: var(--gris);
}*/

.button-categoria {
    background-color: var(--azul);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.producto{
    width:220px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.producto-imagen{
    width:100%;
    height:200px;
    object-fit:cover;
}

.producto-detalles{
    padding:10px;
}

.producto-agregar{
    width:100%;
    padding:10px;
    border:none;
    background:var(--azul);
    color:white;
    border-radius:10px;
    cursor:pointer;
}

.producto-agregar:hover{
    background:#1d4ed8;
} 
.contenedor-bebidas,
.contenedor-snacks,
.contenedor-golosinas,
#titulo-bebidas,
#titulo-snacks,
#titulo-golosinas {
    display: none;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: var(--gris);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display:flex;
    min-height:100vh;
}

aside{
    width:250px;
    background:#4c1d95;
    color:white;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.logo{
    margin-bottom:30px;
}

nav ul{
    list-style:none;
}

nav li{
    margin-bottom:10px;
}

.button-categoria{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:var(--azul);
    color:white;
    cursor:pointer;
    text-align:left;
}

.button-menu button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:white;
    cursor:pointer;
}

main{
    flex:1;
    padding:30px;
}

.tipos-bebidas,
.tipos-snacks,
.tipos-golosinas{
    margin-bottom:20px;
}
.button-menu{
    display:block;
    text-decoration:none;
    background:white;
    color:black;
    padding:12px;
    border-radius:10px;
}